header {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: var(--header-height);
  background: #1f2a63;
}

.header-block {
  height: 100%;
  width: var(--page-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  max-width: 150px;
  max-height: 80px;
  -webkit-user-drag: none;
  transition: filter 0.3s ease-out;
}

.header-logo:hover {
  filter: drop-shadow(0 0 10px red) invert(75%);
}

.nav-option {
  color: #f6f7f9;
  font-weight: 400;
  font-size: 25px;
  transition: color 0.3s ease-out, border-color 0.3s ease-out;
}

.nav-option:active {
  text-decoration: none;
}

.nav-option:hover {
  color: yellow;
  border-color: yellow;
}

.nav-option:first-child {
  margin: 70px;
}

.nav-active {
  --radius: 1px;
  border-bottom: 2px solid #cfdab0;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}
